/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}



body {
	/*background: green;*/
}

.zoetrope {
	height: 300px;
    width: 150px; 
    /*width: 100%;*/
    list-style: none;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}


.zoetrope li {
	/*background: salmon;*/
	/*border: 1px solid green;*/
	/*margin: 10px;*/
	position: relative;
	height: 180px;

	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.zoetrope li::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

}

.zoetrope li div {
	/*margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/

	display: block;
    height: 100%;
    width: 100%;
    /*line-height: 260px;*/
    color: black;
    text-align: center;
    font-weight: bold;
    /*font-size: 140px;*/
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;*/

}
.zoetrope li .item-front {
	/*background: black;
	z-index: 2;
    width: 90%;
    top: -100%;
    left: 5%;*/
}
.zoetrope li .item-back {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    line-height: 10px;
    background-size: cover;
   	background-position: center;
   	background-repeat: no-repeat;
}


.controls {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    text-align: center;
}
